<div ng-show="user" class="full-width">
  
  <nav class="clearfix">
    <a href="#/main">Back to Search</a>
  </nav>
  
  <img ng-src="{{user.avatar_url}}" title="{{user.name}}" class="user-img"/>
  <div class="user-data">
    <p>Public GitHub repositories for</p>
    <h2>{{user.name}} ({{user.login}})</h2>
    {{ error }}
    <div>{{user.company}}</div>
    <div>{{user.location}}</div>
    <div id="sort-order-picker">
      Order By: 
      <select ng-model="repoSortOrder">
        <option value="+name">Name</option>
        <option value="-stargazers_count">Stars</option>
        <option value="+language">Language</option>
      </select>
    </div>
  </div>
  
  
  <table class="clearfix">
    <thead>
      <tr>
        <th>Repository Name</th>
        <th>Stars</th>
        <th>Language</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="repo in repos | orderBy: repoSortOrder">
        <td><a href="#/repo/{{user.login}}/{{repo.name}}">{{repo.name}}</a></td>
        <td>{{repo.stargazers_count | number}}</td>
        <td>{{repo.language}}</td>
      </tr>
    </tbody>
  </table>

</div>